.Btn-Provoke, .Btn-Feed {
    color : white;
    position: relative;
}

.Btn-Provoke::before, .Btn-Feed::before{
    position: absolute;
    content: '';
    background-color: darkgreen;
    top : 0;
    right : 0;
    left : 0;
    bottom : 0;
    z-index: -1;
    transform : scaleX(0);
    transition: transform 500ms ease-in;
}

.Btn-Provoke::before {
    transform-origin: left;
}

.Btn-Feed::before {
    transform-origin: right;
}

.Btn-Provoke:hover::before,.Btn-Feed:hover::before{
    transform: scaleX(1);
}